.main-header{
    position: relative;
    max-height: 3.1em;
    z-index: 1030;
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-header > .navbar {
    margin-bottom: 0;
    margin-left: 0.3em;
    min-height: 50px;
    line-height: 1;
    padding: 0;
}

.navbar .nome-sistema {
    float: left; 
    line-height: 50px; 
    text-decoration: none; 
    color: #fff; 
    margin: 0 15px; 
    font-size: 28px; 
    height: 50px; 
    font-weight: 400;
}

.navbar .sigla-sistema {
    float: left; 
    line-height: 50px; 
    text-decoration: none; 
    color: #fff; 
    margin: 0 15px; 
    font-size: 28px; 
    height: 50px; 
    font-weight: 400;
    display: none;
}

.main-header .navbar .nav>li.user>a>.fa {
    margin-right: 5px;
}

.main-header{
    background-color: #150958;
    
}

.navbar {
    display: flex;
    align-items: center;
  }